<!DOCTYPE html>

<html data-ng-app="">
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/Content/app.css">
	<link rel="stylesheet" href="~/Content/bootstrap.min.css">
</head>
<body>
	<div>
		@RenderBody()
	</div>


	<script src="~/Scripts/jquery-1.9.1.min.js"></script>
	<script src="~/Scripts/angular.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/angular-bootstrap.min.js"></script>
	@RenderSection("Scripts")
</body>
</html>
